﻿body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

.centered
{
    margin: 150px auto auto;
    width: 220px;
    height: 120px;
}

.form {
    margin: auto;
    width: 1020px;
    height: 100%;
}

.input
{
    border:#999 1px solid;
    width:200px;
    font-family: sylfaen,tahoma,sans-serif;
    font-size:12px;
    color:#595959;
    padding:3px;
    margin:0 5px 5px 0; 
    }
    
.button
{
    width:100px;
    font-weight:bold;
    margin-top: 10px;
    }

.form > .text {
    margin-top: 15px;
    width: 500px;
}

.text {
    font-family: sylfaen,tahoma,sans-serif;
    font-size:12px;
    font-weight: bold;
    color:#595959;
}

.text label {
    float: left;
    width: 120px;
}

.b {
    font-weight: bold;    
}

.up {
    text-transform:uppercase;
}

.validator {
    font-family: sylfaen,tahoma,sans-serif;
    font-size:10px;
    font-weight: normal;
    margin-left: 5px;
    display: none;
}

.error {
    color: red;
}

.info {
    color: royalblue;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
